@{
    ViewData["Title"] = "Employees";
}
<h1>@ViewData["Title"]</h1>

<div class="mb-3">
    <input type="text" class="form-control" id="searchId" placeholder="Search by id. Example: 1">
</div>

<table class="table" id="employeeTable">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
    </tbody>
</table>

@section Scripts {
    <script>
        jQuery.ajax({
            url: '@Url.Action("GetEmployees", "Employee")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                alert(data);
            }
        })
    </script>
}